# Telegram
TELEGRAM_TOKEN=COLE_AQUI_SEU_TOKEN_DO_TELEGRAM

# IBM Watson Speech to Text
IBM_WATSON_STT_API_KEY=COLE_AQUI_SUA_API_KEY_STT
IBM_WATSON_STT_URL=COLE_AQUI_SUA_URL_STT

# IBM Watson Text to Speech
IBM_WATSON_TTS_API_KEY=COLE_AQUI_SUA_API_KEY_TTS
IBM_WATSON_TTS_URL=COLE_AQUI_SUA_URL_TTS

# IBM Watson Assistant
IBM_WATSON_ASSISTANT_API_KEY=COLE_AQUI_SUA_API_KEY_ASSISTANT
IBM_WATSON_ASSISTANT_URL=COLE_AQUI_SUA_URL_ASSISTANT
IBM_WATSON_ASSISTANT_ID=COLE_AQUI_SEU_ASSISTANT_ID
